## Pandas
- Series (1 Dimensão)
- DataFrame (2 Dimensões ou mais)

    - Remover dados nulos
    - Agrupar dados
    - Fatiamento

In [2]:
import pandas as pd

# Numpy indices numericos
# 1 - Pandas Series
# Series 
s = pd.Series([1,2,3,4], index='a b c d'.split(' '))
print(s)

indeces = ['a', 'b', 'c']
valores = [7, 8, 9]
print('-'*50)
serie = pd.Series(index=indeces, data=valores)
print(serie)
print(type(serie))

a    1
b    2
c    3
d    4
dtype: int64
--------------------------------------------------
a    7
b    8
c    9
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
dic = {'a':10, 'b':20, 'c':30} # Usando dicionario

d1 = pd.Series(dic)
print("Serie 1:\n", d1)
print(d1['a'])
# Operacao label a label
dic2 = {'a':10, 'b':20, 'd':30}
d2 = pd.Series(dic2)
print("Serie 2:\n", d2)
# print("Soma:\n", d1 + d2)
# print("Subtração:\n", d1 - d2)
# print("Multiplicação: \n", d1*d2)
s = d1 + d2
print("Teste")
print(s)

# Usar as funcoes pre prontas do pandas
# fill_value = Valor padra
print("Soma:\n",d1.add(d2, fill_value=0)) 
print("Subtração:\n",d1.sub(d2, fill_value=0))

Serie 1:
 a    10
b    20
c    30
dtype: int64
10
Serie 2:
 a    10
b    20
d    30
dtype: int64
Teste
a    20.0
b    40.0
c     NaN
d     NaN
dtype: float64
Soma:
 a    20.0
b    40.0
c    30.0
d    30.0
dtype: float64
Subtração:
 a     0.0
b     0.0
c    30.0
d   -30.0
dtype: float64

In [4]:
# Condicionais no pandas
print(d1[d1 <= 20])

a    10
b    20
dtype: int64

In [5]:
# DataFrame
import numpy as np

indices = 'A B C D E'.split(' ')
colunas = 'W X Y Z'.split(' ')
dados = np.random.randint(1, 50, [5,4])
df = pd.DataFrame(index=indices, columns=colunas, data=dados)
print(df, end='\n\n')

# Fazendo slicing com ILOC (padrao numpy - indices numericos)
# Segue o padrao do numpy ->  linhas - colunas
print(df.iloc[0:2, :], end='\n\n') # iloc vem de index

# Usando loc
print(df.loc[['A', 'B'], 'W X Y Z'.split(' ')])

# Pegar a coluna W e Y
print(df.loc['A B'.split(' '), "W Z".split(' ')], end='\n\n')
print(df['W Z'.split(' ')])

    W   X   Y   Z
A  28  39   9  42
B   6  23  33  15
C  14  46  19  20
D  15  38  41  41
E  15  47  35  46

    W   X   Y   Z
A  28  39   9  42
B   6  23  33  15

    W   X   Y   Z
A  28  39   9  42
B   6  23  33  15
    W   Z
A  28  42
B   6  15

    W   Z
A  28  42
B   6  15
C  14  20
D  15  41
E  15  46

In [6]:
import numpy as np

df = pd.read_csv('paises.csv', delimiter=';')
print(df.columns)
print(df.head(3)) # primeiras linhas
print(df.tail(2)) # ultimas linhas

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')
        Country                               Region  Population  \
0  Afghanistan         ASIA (EX. NEAR EAST)             31056997
1      Albania   EASTERN EUROPE                          3581655
2      Algeria   NORTHERN AFRICA                        32930091

   Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
0          647500                        48.0                          0.00
1           28748                       124.6                          1.26
2         2381740                        13.8                          0.04

   Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
0          23.06                              163.07                 700
1          -4.93                               21.52                4500
2          -0.39                               31.00                6000

   Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  Climate  \
0          36.0                3.2       12.13       0.22      87.65      1.0
1          86.5               71.2       21.09       4.42      74.49      3.0
2          70.0               78.1        3.22       0.25      96.53      1.0

   Birthrate  Deathrate  Agriculture  Industry  Service
0      46.60      20.34        0.380     0.240    0.380
1      15.11       5.22        0.232     0.188    0.579
2      17.14       4.61        0.101     0.600    0.298
       Country                               Region  Population  \
225    Zambia   SUB-SAHARAN AFRICA                     11502010
226  Zimbabwe   SUB-SAHARAN AFRICA                     12236805

     Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
225          752614                        15.3                           0.0
226          390580                        31.3                           0.0

     Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
225            0.0                               88.29                 800
226            0.0                               67.69                1900

     Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  \
225          80.6                8.2        7.08       0.03      92.90
226          90.7               26.8        8.32       0.34      91.34

     Climate  Birthrate  Deathrate  Agriculture  Industry  Service
225      2.0      41.00      19.93        0.220     0.290    0.489
226      2.0      28.01      21.84        0.179     0.243    0.579

In [7]:
# Criar uma nova coluaa que mostre a porcentagem da populacao de cada pais em relacao a popoulacao global

total_populacao = df['Population'].sum()
print(total_populacao)
df['Population Relative Absoluto'] = df['Population'] / total_populacao
# df['Population Relative Absoluto']
print(df[df['Country'] == 'Brazil '])

# Criando uma nova versao do dataset 

df.to_csv('paises2.csv', sep=';')

6524044551
    Country                   Region  Population  Area (sq. mi.)  \
27  Brazil   LATIN AMER. & CARIB       188078227         8511965

    Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  Net migration  \
27                        22.1                          0.09          -0.03

    Infant mortality (per 1000 births)  GDP ($ per capita)  Literacy (%)  ...  \
27                               29.61                7600          86.4  ...

    Arable (%)  Crops (%)  Other (%)  Climate  Birthrate  Deathrate  \
27        6.96        0.9      92.15      2.0      16.56       6.17

    Agriculture  Industry  Service  Population Relative Absoluto
27        0.084       0.4    0.516                      0.028828

[1 rows x 21 columns]

In [8]:
# Agrupando os dados do nosso dataset por regiao
group_region = df.groupby('Region')
print(group_region.count()['Country'], end='\n\n')
print(group_region.sum()['Country'])
print(group_region.sum()['Population'])

Region
ASIA (EX. NEAR EAST)                   28
BALTICS                                 3
C.W. OF IND. STATES                    12
EASTERN EUROPE                         12
LATIN AMER. & CARIB                    45
NEAR EAST                              16
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
OCEANIA                                21
SUB-SAHARAN AFRICA                     51
WESTERN EUROPE                         28
Name: Country, dtype: int64

Region
ASIA (EX. NEAR EAST)                   Afghanistan Bangladesh Bhutan Brunei Burma Cam...
BALTICS                                                        Estonia Latvia Lithuania
C.W. OF IND. STATES                    Armenia Azerbaijan Belarus Georgia Kazakhstan ...
EASTERN EUROPE                         Albania Bosnia & Herzegovina Bulgaria Croatia ...
LATIN AMER. & CARIB                    Anguilla Antigua & Barbuda Argentina Aruba Bah...
NEAR EAST                              Bahrain Cyprus Gaza Strip Iraq Israel Jordan K...
NORTHERN AFRICA                        Algeria Egypt Libya Morocco Tunisia Western Sa...
NORTHERN AMERICA                       Bermuda Canada Greenland St Pierre & Miquelon ...
OCEANIA                                American Samoa Australia Cook Islands Fiji Fre...
SUB-SAHARAN AFRICA                     Angola Benin Botswana Burkina Faso Burundi Cam...
WESTERN EUROPE                         Andorra Austria Belgium Denmark Faroe Islands ...
Name: Country, dtype: object
Region
ASIA (EX. NEAR EAST)                   3687982236
BALTICS                                   7184974
C.W. OF IND. STATES                     280081548
EASTERN EUROPE                          119914717
LATIN AMER. & CARIB                     561824599
NEAR EAST                               195068377
NORTHERN AFRICA                         161407133
NORTHERN AMERICA                        331672307
OCEANIA                                  33131662
SUB-SAHARAN AFRICA                      749437000
WESTERN EUROPE                          396339998
Name: Population, dtype: int64

In [9]:
# Criando funcoes customizadas no pandas

def ten_percent(x): # desconto de 10 porcento em algo
    return x * 0.9

# pegando a taxa de mortalidade do dataset
taxaMort = df['Deathrate']

taxaMort2 = taxaMort.apply(ten_percent)  # aplicando a funcao em cada valor da linha deathrate

df2 = pd.concat([taxaMort, taxaMort2], axis = 1)
df2.columns = ['Taxa de Mortalidade', 'Taxa de Mortalidade com desconto']
print(df2)

     Taxa de Mortalidade  Taxa de Mortalidade com desconto
0                  20.34                            18.306
1                   5.22                             4.698
2                   4.61                             4.149
3                   3.27                             2.943
4                   6.25                             5.625
..                   ...                               ...
222                 3.92                             3.528
223                 0.00                             0.000
224                 8.30                             7.470
225                19.93                            17.937
226                21.84                            19.656

[227 rows x 2 columns]